#sidebar
    p
        a(href="#title") Introduction

    p
        a(href="#function") Functions
        :markdown
            - [parse](#function-parse)
            - [parseMany](#function-parseMany)
            - [write](#function-write)
