#sidebar
    p
        a(href="#title") Introduction

    p
        a(href="#DotGraph") DotGraph
        :markdown
            - [hasSubgraph](#DotGraph-hasSubgraph)
            - [subgraph](#DotGraph-subgraph)
            - [subgraphs](#DotGraph-subgraphs)
            - [parent](#DotGraph-parent)
            - [children](#DotGraph-children)
            - [addSubgraph](#DotGraph-addSubgraph)
            - [delSubgraph](#DotGraph-delSubgraph)

    p
        a(href="#DotDigraph") DotDigraph
        :markdown
            - [hasSubgraph](#DotDigraph-hasSubgraph)
            - [subgraph](#DotDigraph-subgraph)
            - [subgraphs](#DotDigraph-subgraphs)
            - [parent](#DotDigraph-parent)
            - [children](#DotDigraph-children)
            - [addSubgraph](#DotDigraph-addSubgraph)
            - [delSubgraph](#DotDigraph-delSubgraph)

    p
        a(href="#function") Functions
        :markdown
            - [parse](#function-parse)
            - [parseMany](#function-parseMany)
            - [write](#function-write)
