doctype 5
html(lang="en")
    head
        link(rel="stylesheet" href="static/highlight-style.css")
        link(rel="stylesheet" href="static/style.css")
        script(src="static/highlight.pack.js")
    body(onLoad="hljs.initHighlighting();")
        include include/sidebar
        #content
            h1#title Graphlib-dot v#{version}
        
            :markdown
                Graphlib-dot is a [DOT language] parser and writer for
                [graphlib][] graphs.

                This documentation describes the Graphlib-dot API. Please visit our
                [GitHub repository](https://github.com/cpettitt/graphlib-dot) for
                more general information.

                [DOT language]: http://www.graphviz.org/doc/info/lang.html
                [graphlib]: https://github.com/cpettitt/graphlib

            include include/function
